<div class="row">
  <div class="col-md-3">Name</div>
  <div class="col-md-3">Description</div>
  <div class="col-md-3">Price</div>
  <div class="col-md-3">Action</div>
</div>
{{sorted-products products=model}}
<br />
{{#link-to "products.new" class="btn btn-info"}}Create new product{{/link-to}}
