<div class="row">
  <div class="col-md-3">Name</div>
  <div class="col-md-3">Description</div>
  <div class="col-md-3">Price</div>
  <div class="col-md-3">Action</div>
</div>
{{#each model as |product|}}
  <div class="row">
    <div class="col-md-3">{{product.name}}</div>
    <div class="col-md-3">{{product.description}}</div>
    <div class="col-md-3">{{product.price}}</div>
    <div class="col-md-3">
      {{#link-to "products.edit" product.id}}Edit{{/link-to}}
      | Delete
    </div>
  </div>
{{/each}}
<br />
{{#link-to "products.new" class="btn btn-info"}}Create new product{{/link-to}}
