<div class="row">
  <div class="col-md-4">Name</div>
  <div class="col-md-4">Description</div>
  <div class="col-md-4">Price</div>
</div>
{{#each model as |product|}}
  <div class="row">
    <div class="col-md-4">{{product.name}}</div>
    <div class="col-md-4">{{product.description}}</div>
    <div class="col-md-4">{{product.price}}</div>
  </div>
{{/each}}
